---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
const formattedDate = frontmatter.pubDate.slice(0, 10);
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Written by {frontmatter.author}</p>
  <p>Published {formattedDate}</p>
  <p><em>{frontmatter.description}</em></p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <slot />
</BaseLayout>
